<% if @contact.errors.any? %>
  <% @contact.errors.full_messages.each do |msg| %>
    <%= render partial: 'message', locals: { message: msg, classes: 'is-danger' } %>
  <% end %>
<% end %>

<%= form_for contact do |f| %>
  <div class="field">
    <label class="label">Picture *</label>
    <div class="control">
      <%= f.file_field :picture, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <label class="label">First name *</label>
    <div class="control">
      <%= f.text_field :firstname, class: 'input', placeholder: 'First name' %>
    </div>
  </div>

  <div class="field">
    <label class="label">Last name *</label>
    <div class="control">
      <%= f.text_field :lastname, class: 'input', placeholder: 'Last name' %>
    </div>
  </div>

  <div class="field">
    <label class="label">Telephone number *</label>
    <div class="control">
      <%= f.text_field :telephone, class: 'input', placeholder: 'Telephone number' %>
    </div>
  </div>

  <div class="field">
    <label class="label">Address</label>
    <div class="control">
      <%= f.text_field :address, class: 'input', placeholder: 'Address' %>
    </div>
  </div>

  <div class="field">
    <button class="button is-link" type="submit">Save</button>
  </div>
<% end %>
