<!DOCTYPE html>
<html>
  <head>
    <title>ContactBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', 'data-turbolinks-suppress-warning': true %>
  </head>

  <body>
    <main class="content container">
      <%= yield %>
    </main>
  </body>
</html>
