<!DOCTYPE html>
<html>
  <head>
    <title>ContactBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', 'data-turbolinks-suppress-warning': true %>
  </head>

  <body>
    <main class="content container">
      <% if message = notice %>
        <%= render partial: 'message', locals: { message: message, classes: 'is-success' } %>
      <% end %>

      <% if message = alert %>
        <%= render partial: 'message', locals: { message: message, classes: 'is-danger' } %>
      <% end %>

      <%= yield %>
    </main>

    <footer class="footer">
      <section class="content has-text-centered">
        <% if user_signed_in? %>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
        <% end %>
      </section>
    </footer>
  </body>
</html>
