<!DOCTYPE html>
<html>
  <head>
    <title>ContactBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', 'data-turbolinks-suppress-warning': true %>
  </head>

  <body>
    <main class="content container">
      <% if msg = notice %>
        <div class="message is-primary">
          <div class="message-body">
            <%= msg %>
          </div>
        </div>
      <% end %>

      <% if msg = alert %>
        <div class="message is-danger">
          <div class="message-body">
            <%= msg %>
          </div>
        </div>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
