<!DOCTYPE html>
<html>
  <head>
    <title>ContactBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <main class="container">
      <%= yield %>
    </main>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
